In [108]:
# 기본
import pandas as pd
import numpy as np

In [110]:
# parquet 파일 데이터를 읽어온다.
train_df = pd.read_parquet('open/train/4.청구입금정보/201807_train_청구정보.parquet')
train_df

,기준년월,ID,증감율_이용건수_신용_전월,증감율_이용건수_신판_전월,증감율_이용건수_일시불_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용건수_체크_전월,증감율_이용건수_카드론_전월,증감율_이용금액_신용_전월,...,변동률_RV일시불평잔,변동률_할부평잔,변동률_CA평잔,변동률_RVCA평잔,변동률_카드론평잔,변동률_잔액_B1M,변동률_잔액_일시불_B1M,변동률_잔액_CA_B1M,혜택수혜율_R3M,혜택수혜율_B0M
0,201807,TRAIN_000000,0.454548,0.454548,0.364727,1.999996,0.0,0.000000,0.0,0.409766,...,0.999998,1.042805,0.999700,0.999998,0.999998,0.261886,0.270752,0.000000,1.044401,1.280543
1,201807,TRAIN_000001,-0.511808,-0.511808,-0.511808,0.000000,0.0,0.000000,0.0,-1.010817,...,1.092698,0.905663,0.999998,0.999998,0.999998,-0.563388,-0.670348,0.000000,0.000000,0.000000
2,201807,TRAIN_000002,-0.062716,-0.062716,0.067843,-1.999996,0.0,0.000000,0.0,-0.902166,...,1.006124,1.993590,0.852567,0.999998,0.999998,-0.046516,0.058114,-0.014191,0.524159,1.208420
3,201807,TRAIN_000003,0.135707,0.135707,0.153975,-1.999996,0.0,0.000000,0.0,-0.866052,...,0.999998,1.050646,0.999877,0.999998,0.999998,0.023821,0.258943,0.000000,0.880925,1.657124
4,201807,TRAIN_000004,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000028,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,201807,TRAIN_399995,0.000000,0.000000,0.000000,0.000000,0.0,-0.338978,0.0,0.000060,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
399996,201807,TRAIN_399996,-0.234430,-0.234430,-0.234430,0.000000,0.0,0.000000,0.0,-0.949039,...,0.999998,0.000000,0.999998,0.999998,0.924698,-0.449567,-0.513523,0.000000,1.951215,1.770262
399997,201807,TRAIN_399997,0.432663,0.432663,0.370023,1.999996,0.0,0.000000,0.0,0.512670,...,0.999998,0.305713,0.999998,0.999998,0.999998,0.580665,0.601561,0.000000,0.000000,0.000000
399998,201807,TRAIN_399998,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,-0.000002,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
399999,201807,TRAIN_399999,1.999996,1.999996,1.999996,1.999996,0.0,0.000000,0.0,2.001371,...,0.999998,0.765724,0.999998,0.999998,0.999998,0.066848,1.999996,0.000000,0.000000,0.000000

In [112]:
# parquet 파일 데이터를 읽어온다.
test_df = pd.read_parquet('open/test/4.청구입금정보/201807_test_청구정보.parquet')
test_df

,기준년월,ID,증감율_이용건수_신용_전월,증감율_이용건수_신판_전월,증감율_이용건수_일시불_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용건수_체크_전월,증감율_이용건수_카드론_전월,증감율_이용금액_신용_전월,...,변동률_RV일시불평잔,변동률_할부평잔,변동률_CA평잔,변동률_RVCA평잔,변동률_카드론평잔,변동률_잔액_B1M,변동률_잔액_일시불_B1M,변동률_잔액_CA_B1M,혜택수혜율_R3M,혜택수혜율_B0M
0,201807,TEST_00000,0.204652,0.204652,0.204652,0.000000,0.000000,0.000000,0.0,1.411951,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.209395,0.231043,0.0,1.332770,1.780392
1,201807,TEST_00001,-0.340448,-0.290936,-0.257185,-0.583068,-1.999856,0.011254,0.0,-0.391841,...,0.999998,1.044473,1.991974,0.999998,0.926569,-0.269161,-0.247241,0.0,0.000000,0.000000
2,201807,TEST_00002,-0.214236,-0.214236,-0.210419,-1.999996,0.000000,0.000000,0.0,0.180290,...,0.999998,1.053083,0.999998,0.999998,0.999998,-0.120290,0.029270,0.0,4.123738,5.115589
3,201807,TEST_00003,0.011708,0.011708,0.011708,0.000000,0.000000,0.000000,0.0,0.286424,...,0.999998,1.991630,0.999998,0.999998,0.999998,0.035807,-0.013359,0.0,0.093615,0.349994
4,201807,TEST_00004,-0.136222,-0.136222,-0.052585,-1.999996,0.000000,-0.379615,0.0,-0.934180,...,0.999998,1.053743,0.999998,0.999998,0.999998,-0.538740,-0.449378,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201807,TEST_99995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000028,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.0,NaN,NaN
99996,201807,TEST_99996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-0.126390,...,0.999998,0.999998,0.999998,0.999998,0.999998,-0.116929,-0.111065,0.0,8.581430,9.887948
99997,201807,TEST_99997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000051,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,NaN
99998,201807,TEST_99998,-0.048287,-0.048287,-0.048287,0.000000,0.000000,-0.171245,0.0,0.168779,...,0.999998,0.586286,0.999998,0.999998,0.999998,-0.156037,-0.168812,0.0,0.000000,0.000000
99999,201807,TEST_99999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-0.000031,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.0,0.000000,0.000000

In [17]:
# 두 데이터 프레임을 합친다.
all_df = pd.concat([train_df, test_df])
all_df.reset_index(inplace=True, drop=True)
all_df

,기준년월,ID,대표결제일,대표결제방법코드,대표청구지고객주소구분코드,대표청구서수령지구분코드,청구서수령방법,청구서발송여부_B0,청구서발송여부_R3M,청구서발송여부_R6M,...,할인금액_청구서_B0M,상환개월수_결제일_R6M,상환개월수_결제일_R3M,선결제건수_R6M,선결제건수_R3M,연체건수_R6M,연체건수_R3M,혜택수혜금액_R3M,포인트_마일리지_환산_B0M,혜택수혜금액
0,201807,TRAIN_000000,27,자동이체,미확인,당사페이앱+이메일,문자메세지,1,1,1,...,0,5,3,0,0,1,0,3,0,0
1,201807,TRAIN_000001,13,자동이체,주거지,우편,우편,1,1,1,...,163,6,3,0,0,0,0,0,0,0
2,201807,TRAIN_000002,1,자동이체,미확인,이메일,이메일,1,1,1,...,0,6,3,0,0,0,0,121,0,50
3,201807,TRAIN_000003,5,자동이체,주거지,우편,우편,1,1,1,...,0,5,3,2,0,0,0,3,0,2
4,201807,TRAIN_000004,13,자동이체,주거지,우편,우편,0,1,1,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,201807,TEST_99995,20,자동이체,회사,우편,우편,0,0,1,...,0,1,0,0,0,0,0,0,0,0
499996,201807,TEST_99996,20,자동이체,주거지,우편,우편,1,1,1,...,50,5,3,2,0,0,0,145,0,49
499997,201807,TEST_99997,15,자동이체,미확인,이메일,이메일,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499998,201807,TEST_99998,12,자동이체,미확인,K톡명세서+이메일,K톡,1,1,1,...,0,2,1,5,3,0,0,0,0,0
499999,201807,TEST_99999,5,자동이체,주거지,우편,우편,1,1,1,...,0,6,3,0,0,0,0,0,0,0

In [19]:
# 컬럼명 확인
all_df.columns

Index(['기준년월', 'ID', '대표결제일', '대표결제방법코드', '대표청구지고객주소구분코드', '대표청구서수령지구분코드',
       '청구서수령방법', '청구서발송여부_B0', '청구서발송여부_R3M', '청구서발송여부_R6M', '청구금액_B0',
       '청구금액_R3M', '청구금액_R6M', '포인트_마일리지_건별_B0M', '포인트_마일리지_건별_R3M',
       '포인트_포인트_건별_B0M', '포인트_포인트_건별_R3M', '포인트_마일리지_월적립_B0M',
       '포인트_마일리지_월적립_R3M', '포인트_포인트_월적립_B0M', '포인트_포인트_월적립_R3M',
       '포인트_적립포인트_R12M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '포인트_이용포인트_R3M',
       '포인트_잔여포인트_B0M', '마일_적립포인트_R12M', '마일_적립포인트_R3M', '마일_이용포인트_R12M',
       '마일_이용포인트_R3M', '마일_잔여포인트_B0M', '할인건수_R3M', '할인금액_R3M', '할인건수_B0M',
       '할인금액_B0M', '할인금액_청구서_R3M', '할인금액_청구서_B0M', '상환개월수_결제일_R6M',
       '상환개월수_결제일_R3M', '선결제건수_R6M', '선결제건수_R3M', '연체건수_R6M', '연체건수_R3M',
       '혜택수혜금액_R3M', '포인트_마일리지_환산_B0M', '혜택수혜금액'],
      dtype='object')

In [21]:
# 데이터 프레임 정보 확인
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 46 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   기준년월              500000 non-null  int64
 1   ID                500000 non-null  object
 2   대표결제일             500000 non-null  int64
 3   대표결제방법코드          500000 non-null  object
 4   대표청구지고객주소구분코드     500000 non-null  object
 5   대표청구서수령지구분코드      500000 non-null  object
 6   청구서수령방법           500000 non-null  object
 7   청구서발송여부_B0        500000 non-null  int64
 8   청구서발송여부_R3M       500000 non-null  int64
 9   청구서발송여부_R6M       500000 non-null  int64
 10  청구금액_B0           500000 non-null  int64
 11  청구금액_R3M          500000 non-null  int64
 12  청구금액_R6M          500000 non-null  int64
 13  포인트_마일리지_건별_B0M   500000 non-null  int64
 14  포인트_마일리지_건별_R3M   500000 non-null  int64
 15  포인트_포인트_건별_B0M    500000 non-null  int64
 16  포인트_포인트_건별_R3M    500000 non-null  int64
 17  포인트_마일리지_월적립_B0M  500000 non-null  int64
 18  포인트_마일리지_월적립_R3M  500000 non-null  int64
 19  포인트_포인트_월적립_B0M   500000 non-null  int64
 20  포인트_포인트_월적립_R3M   500000 non-null  int64
 21  포인트_적립포인트_R12M    500000 non-null  int64
 22  포인트_적립포인트_R3M     500000 non-null  int64
 23  포인트_이용포인트_R12M    500000 non-null  int64
 24  포인트_이용포인트_R3M     500000 non-null  int64
 25  포인트_잔여포인트_B0M     500000 non-null  int64
 26  마일_적립포인트_R12M     500000 non-null  int64
 27  마일_적립포인트_R3M      500000 non-null  int64
 28  마일_이용포인트_R12M     500000 non-null  int64
 29  마일_이용포인트_R3M      500000 non-null  int64
 30  마일_잔여포인트_B0M      500000 non-null  int64
 31  할인건수_R3M          500000 non-null  object
 32  할인금액_R3M          500000 non-null  int64
 33  할인건수_B0M          500000 non-null  object
 34  할인금액_B0M          500000 non-null  int64
 35  할인금액_청구서_R3M      500000 non-null  int64
 36  할인금액_청구서_B0M      500000 non-null  int64
 37  상환개월수_결제일_R6M     500000 non-null  int64
 38  상환개월수_결제일_R3M     500000 non-null  int64
 39  선결제건수_R6M         500000 non-null  int64
 40  선결제건수_R3M         500000 non-null  int64
 41  연체건수_R6M          500000 non-null  int64
 42  연체건수_R3M          500000 non-null  int64
 43  혜택수혜금액_R3M        500000 non-null  int64
 44  포인트_마일리지_환산_B0M   500000 non-null  int64
 45  혜택수혜금액            500000 non-null  int64
dtypes: int64(39), object(7)
memory usage: 175.5+ MB

In [23]:
# 결측치 확인
all_df.isna().sum()

기준년월                0
ID                  0
대표결제일               0
대표결제방법코드            0
대표청구지고객주소구분코드       0
대표청구서수령지구분코드        0
청구서수령방법             0
청구서발송여부_B0          0
청구서발송여부_R3M         0
청구서발송여부_R6M         0
청구금액_B0             0
청구금액_R3M            0
청구금액_R6M            0
포인트_마일리지_건별_B0M     0
포인트_마일리지_건별_R3M     0
포인트_포인트_건별_B0M      0
포인트_포인트_건별_R3M      0
포인트_마일리지_월적립_B0M    0
포인트_마일리지_월적립_R3M    0
포인트_포인트_월적립_B0M     0
포인트_포인트_월적립_R3M     0
포인트_적립포인트_R12M      0
포인트_적립포인트_R3M       0
포인트_이용포인트_R12M      0
포인트_이용포인트_R3M       0
포인트_잔여포인트_B0M       0
마일_적립포인트_R12M       0
마일_적립포인트_R3M        0
마일_이용포인트_R12M       0
마일_이용포인트_R3M        0
마일_잔여포인트_B0M        0
할인건수_R3M            0
할인금액_R3M            0
할인건수_B0M            0
할인금액_B0M            0
할인금액_청구서_R3M        0
할인금액_청구서_B0M        0
상환개월수_결제일_R6M       0
상환개월수_결제일_R3M       0
선결제건수_R6M           0
선결제건수_R3M           0
연체건수_R6M            0
연체건수_R3M            0
혜택수혜금액_R3M          0
포인트_마일리지_환산_B0M     0
혜택수혜금액              0
dtype: int64

In [75]:
# 결측치가 있는 컬럼만 추출
cols_with_missing = all_df.columns[all_df.isnull().any()]
print("결측치 있는 컬럼 목록:")
print(cols_with_missing.tolist())

결측치 있는 컬럼 목록:
[]

In [77]:
# 전체 컬럼 결측치 개수, 비율 확인
missing_info = all_df.isnull().sum().to_frame(name='결측치 개수')
missing_info['전체 행 수'] = len(all_df)
missing_info['결측치 비율(%)'] = (missing_info['결측치 개수'] / len(all_df)) * 100
missing_info = missing_info[missing_info['결측치 개수'] > 0]  # 결측치가 있는 컬럼만 보기
print(missing_info.sort_values(by='결측치 개수', ascending=False))

Empty DataFrame
Columns: [결측치 개수, 전체 행 수, 결측치 비율(%)]
Index: []

In [79]:
# 결측치가 있는 행(Row) 수 확인
missing_rows = all_df.isnull().any(axis=1).sum()
print(f"결측치가 포함된 행 수: {missing_rows} / 전체 {len(all_df)}행")

결측치가 포함된 행 수: 0 / 전체 500000행

In [97]:
# 전체 컬럼 value_counts() 요약
for col in all_df.columns:
    print(f"\n📌 컬럼명: {col}")
    print(all_df[col].value_counts(dropna=False))

📌 컬럼명: 기준년월
기준년월
201807    500000
Name: count, dtype: int64

📌 컬럼명: ID
ID
TRAIN_000000    1
TRAIN_333343    1
TRAIN_333341    1
TRAIN_333340    1
TRAIN_333339    1
               ..
TRAIN_166662    1
TRAIN_166661    1
TRAIN_166660    1
TRAIN_166659    1
TEST_99999      1
Name: count, Length: 500000, dtype: int64

📌 컬럼명: 대표결제일
대표결제일
25    112839
1      66501
27     57690
20     54334
15     50989
13     47388
23     45285
5      35325
12     29432
21       217
Name: count, dtype: int64

📌 컬럼명: 대표결제방법코드
대표결제방법코드
자동이체    500000
Name: count, dtype: int64

📌 컬럼명: 대표청구지고객주소구분코드
대표청구지고객주소구분코드
미확인    234261
주거지    212325
회사      53414
Name: count, dtype: int64

📌 컬럼명: 대표청구서수령지구분코드
대표청구서수령지구분코드
우편           267443
이메일          165073
당사페이앱+이메일     47330
K톡명세서+이메일     11032
미수신            9119
당사멤버십+이메일         2
문자메세지             1
Name: count, dtype: int64

📌 컬럼명: 청구서수령방법
청구서수령방법
우편       267443
이메일      165073
문자메세지     47331
K톡        11032
미수령        9119
당사멤버십         2
Name: count, dtype: int64

📌 컬럼명: 청구서발송여부_B0
청구서발송여부_B0
1    387616
0    112384
Name: count, dtype: int64

📌 컬럼명: 청구서발송여부_R3M
청구서발송여부_R3M
1    412072
0     87928
Name: count, dtype: int64

📌 컬럼명: 청구서발송여부_R6M
청구서발송여부_R6M
1    425516
0     74484
Name: count, dtype: int64

📌 컬럼명: 청구금액_B0
청구금액_B0
0        112384
17          343
16          300
18          298
19          285
          ...
29232         1
43298         1
44453         1
38496         1
24219         1
Name: count, Length: 35205, dtype: int64

📌 컬럼명: 청구금액_R3M
청구금액_R3M
0         81808
34          157
33          148
32          147
29          140
          ...
162746        1
37385         1
102394        1
120590        1
33842         1
Name: count, Length: 76406, dtype: int64

📌 컬럼명: 청구금액_R6M
청구금액_R6M
0         58294
75          172
76          161
69          160
80          156
          ...
100410        1
67977         1
170914        1
235150        1
96169         1
Name: count, Length: 117133, dtype: int64

📌 컬럼명: 포인트_마일리지_건별_B0M
포인트_마일리지_건별_B0M
0       486409
1033        46
997         41
993         39
1058        37
         ...
2246         1
2113         1
1977         1
2074         1
1900         1
Name: count, Length: 1183, dtype: int64

📌 컬럼명: 포인트_마일리지_건별_R3M
포인트_마일리지_건별_R3M
0       486038
2298        16
2284        15
2724        14
2350        14
         ...
6288         1
5345         1
2020         1
5664         1
5466         1
Name: count, Length: 3774, dtype: int64

📌 컬럼명: 포인트_포인트_건별_B0M
포인트_포인트_건별_B0M
0       447350
2968        33
2914        31
2967        30
2705        30
         ...
83           1
5105         1
4940         1
4996         1
4538         1
Name: count, Length: 4833, dtype: int64

📌 컬럼명: 포인트_포인트_건별_R3M
포인트_포인트_건별_R3M
0        440642
740          20
587          19
1064         19
649          19
          ...
12715         1
14850         1
16542         1
16714         1
10760         1
Name: count, Length: 14152, dtype: int64

📌 컬럼명: 포인트_마일리지_월적립_B0M
포인트_마일리지_월적립_B0M
0      489062
622        97
628        92
624        90
619        89
        ...
979         1
946         1
923         1
949         1
941         1
Name: count, Length: 405, dtype: int64

📌 컬럼명: 포인트_마일리지_월적립_R3M
포인트_마일리지_월적립_R3M
0       488109
1768        37
1807        37
1822        36
1860        34
         ...
3011         1
2706         1
1622         1
2997         1
2736         1
Name: count, Length: 1335, dtype: int64

📌 컬럼명: 포인트_포인트_월적립_B0M
포인트_포인트_월적립_B0M
0        487470
5002        503
5001        430
5003        365
5004        177
          ...
18199         1
18904         1
18155         1
18896         1
18939         1
Name: count, Length: 1322, dtype: int64

📌 컬럼명: 포인트_포인트_월적립_R3M
포인트_포인트_월적립_R3M
0        455830
7143         14
5793         14
6696         14
7520         14
          ...
12915         1
14113         1
15081         1
17221         1
20012         1
Name: count, Length: 14276, dtype: int64

📌 컬럼명: 포인트_적립포인트_R12M
포인트_적립포인트_R12M
0        389943
1798         42
1680         42
1979         41
1947         39
          ...
24436         1
51131         1
51309         1
21557         1
18189         1
Name: count, Length: 34704, dtype: int64

📌 컬럼명: 포인트_적립포인트_R3M
포인트_적립포인트_R3M
0        408668
3298         20
2251         19
740          19
4891         19
          ...
28727         1
16619         1
21474         1
20663         1
29382         1
Name: count, Length: 21113, dtype: int64

📌 컬럼명: 포인트_이용포인트_R12M
포인트_이용포인트_R12M
0         331021
2286          44
2212          44
1971          42
2645          42
           ...
126546         1
43524          1
55612          1
157909         1
253047         1
Name: count, Length: 55342, dtype: int64

📌 컬럼명: 포인트_이용포인트_R3M
포인트_이용포인트_R3M
0        387873
418          30
1196         29
1049         29
1605         28
          ...
15484         1
32936         1
42681         1
36185         1
24163         1
Name: count, Length: 28616, dtype: int64

📌 컬럼명: 포인트_잔여포인트_B0M
포인트_잔여포인트_B0M
0      499507
902         8
973         6
971         6
968         6
        ...
833         1
815         1
979         1
811         1
846         1
Name: count, Length: 206, dtype: int64

📌 컬럼명: 마일_적립포인트_R12M
마일_적립포인트_R12M
0        482749
3303          7
13407         7
12911         7
3413          7
          ...
16315         1
20764         1
8169          1
21788         1
24734         1
Name: count, Length: 11333, dtype: int64

📌 컬럼명: 마일_적립포인트_R3M
마일_적립포인트_R3M
0       474857
1768        37
1807        37
1822        35
1838        34
         ...
3622         1
5956         1
3787         1
4941         1
5466         1
Name: count, Length: 4423, dtype: int64

📌 컬럼명: 마일_이용포인트_R12M
마일_이용포인트_R12M
0        485720
11857         8
14685         8
12568         8
11454         8
          ...
16519         1
17111         1
17472         1
17948         1
21253         1
Name: count, Length: 8545, dtype: int64

📌 컬럼명: 마일_이용포인트_R3M
마일_이용포인트_R3M
0       486649
2856        16
3781        16
2686        15
2925        15
         ...
4996         1
4637         1
5619         1
4544         1
5051         1
Name: count, Length: 3118, dtype: int64

📌 컬럼명: 마일_잔여포인트_B0M
마일_잔여포인트_B0M
0       487056
593         96
572         96
576         94
584         94
         ...
1045         1
1067         1
963          1
1057         1
976          1
Name: count, Length: 530, dtype: int64

📌 컬럼명: 할인건수_R3M
할인건수_R3M
1회 이상     459349
10회 이상     28663
20회 이상     10194
30회 이상      1793
40회 이상         1
Name: count, dtype: int64

📌 컬럼명: 할인금액_R3M
할인금액_R3M
0       327393
27       15634
11       11506
150       9121
12        8873
         ...
1131         1
738          1
1171         1
1182         1
1126         1
Name: count, Length: 610, dtype: int64

📌 컬럼명: 할인건수_B0M
할인건수_B0M
1회 이상     497879
10회 이상      2121
Name: count, dtype: int64

📌 컬럼명: 할인금액_B0M
할인금액_B0M
0      379799
9       13833
170     11771
50       9132
13       4782
        ...
402         1
425         1
395         1
23          1
399         1
Name: count, Length: 300, dtype: int64

📌 컬럼명: 할인금액_청구서_R3M
할인금액_청구서_R3M
0       285351
27       14680
14        9378
15        8507
150       7753
         ...
886          1
1643         1
639          1
122          1
897          1
Name: count, Length: 1083, dtype: int64

📌 컬럼명: 할인금액_청구서_B0M
할인금액_청구서_B0M
0      335265
9       15017
50       9454
8        6089
49       4759
        ...
544         1
71          1
235         1
557         1
236         1
Name: count, Length: 450, dtype: int64

📌 컬럼명: 상환개월수_결제일_R6M
상환개월수_결제일_R6M
6    212107
0     83476
5     62521
1     49036
4     46253
2     27260
3     19347
Name: count, dtype: int64

📌 컬럼명: 상환개월수_결제일_R3M
상환개월수_결제일_R3M
3    264857
0    110296
2     64897
1     59950
Name: count, dtype: int64

📌 컬럼명: 선결제건수_R6M
선결제건수_R6M
0    447220
2     20955
3      8260
1      7799
4      5091
6      4532
5      4224
7      1762
8       157
Name: count, dtype: int64

📌 컬럼명: 선결제건수_R3M
선결제건수_R3M
0    460727
2     20791
3      8992
1      8272
4      1218
Name: count, dtype: int64

📌 컬럼명: 연체건수_R6M
연체건수_R6M
0    403045
1     33204
2     28853
3     12933
4      8166
5      6580
6      5745
7      1471
8         3
Name: count, dtype: int64

📌 컬럼명: 연체건수_R3M
연체건수_R3M
0    433342
1     28753
2     23418
3     12417
4      2070
Name: count, dtype: int64

📌 컬럼명: 혜택수혜금액_R3M
혜택수혜금액_R3M
0       249273
3        17863
2         9249
25        8328
20        7460
         ...
776          1
172          1
416          1
772          1
1351         1
Name: count, Length: 556, dtype: int64

📌 컬럼명: 포인트_마일리지_환산_B0M
포인트_마일리지_환산_B0M
0      475517
76        293
80        292
78        287
77        277
        ...
437         1
457         1
461         1
424         1
417         1
Name: count, Length: 382, dtype: int64

📌 컬럼명: 혜택수혜금액
혜택수혜금액
0      309907
50      17659
8       12642
1       11283
49      11208
        ...
545         1
66          1
186         1
563         1
474         1
Name: count, Length: 239, dtype: int64

In [71]:
# 각 컬럼별 고유값 개수
unique_counts = all_df.nunique(dropna=False)
print(unique_counts.sort_values(ascending=True))

기준년월                     1
대표결제방법코드                 1
할인건수_B0M                 2
청구서발송여부_R6M              2
청구서발송여부_B0               2
청구서발송여부_R3M              2
대표청구지고객주소구분코드            3
상환개월수_결제일_R3M            4
할인건수_R3M                 5
선결제건수_R3M                5
연체건수_R3M                 5
청구서수령방법                  6
상환개월수_결제일_R6M            7
대표청구서수령지구분코드             7
연체건수_R6M                 9
선결제건수_R6M                9
대표결제일                   10
포인트_잔여포인트_B0M          206
혜택수혜금액                 239
할인금액_B0M               300
포인트_마일리지_환산_B0M        382
포인트_마일리지_월적립_B0M       405
할인금액_청구서_B0M           450
마일_잔여포인트_B0M           530
혜택수혜금액_R3M             556
할인금액_R3M               610
할인금액_청구서_R3M          1083
포인트_마일리지_건별_B0M       1183
포인트_포인트_월적립_B0M       1322
포인트_마일리지_월적립_R3M      1335
마일_이용포인트_R3M          3118
포인트_마일리지_건별_R3M       3774
마일_적립포인트_R3M          4423
포인트_포인트_건별_B0M        4833
마일_이용포인트_R12M         8545
마일_적립포인트_R12M        11333
포인트_포인트_건별_R3M       14152
포인트_포인트_월적립_R3M      14276
포인트_적립포인트_R3M        21113
포인트_이용포인트_R3M        28616
포인트_적립포인트_R12M       34704
청구금액_B0              35205
포인트_이용포인트_R12M       55342
청구금액_R3M             76406
청구금액_R6M            117133
ID                  500000
dtype: int64

In [61]:
# 수치형/범주형 여부
for col in all_df.columns:
    dtype = all_df[col].dtype
    unique_vals = all_df[col].nunique()
    nulls = all_df[col].isnull().sum()
    
    print(f"\n📌 컬럼: {col}")
    print(f" - 데이터 타입: {dtype}")
    print(f" - 고유값 개수: {unique_vals}")
    print(f" - 결측치 수: {nulls}")
    
    if dtype == 'object' or unique_vals < 20:
        print(f" - 추정 유형: 범주형")
        print(f" - 예시값: {all_df[col].unique()[:5]}")
    elif pd.api.types.is_numeric_dtype(all_df[col]):
        print(f" - 추정 유형: 수치형")
        print(f" - 예시값: {all_df[col].dropna().unique()[:5]}")

📌 컬럼: 기준년월
 - 데이터 타입: int64
 - 고유값 개수: 1
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [201807]

📌 컬럼: ID
 - 데이터 타입: object
 - 고유값 개수: 500000
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['TRAIN_000000' 'TRAIN_000001' 'TRAIN_000002' 'TRAIN_000003'
 'TRAIN_000004']

📌 컬럼: 대표결제일
 - 데이터 타입: int64
 - 고유값 개수: 10
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [27 13  1  5 20]

📌 컬럼: 대표결제방법코드
 - 데이터 타입: object
 - 고유값 개수: 1
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['자동이체']

📌 컬럼: 대표청구지고객주소구분코드
 - 데이터 타입: object
 - 고유값 개수: 3
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['미확인' '주거지' '회사']

📌 컬럼: 대표청구서수령지구분코드
 - 데이터 타입: object
 - 고유값 개수: 7
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['당사페이앱+이메일' '우편' '이메일' '미수신' 'K톡명세서+이메일']

📌 컬럼: 청구서수령방법
 - 데이터 타입: object
 - 고유값 개수: 6
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['문자메세지' '우편' '이메일' '미수령' 'K톡']

📌 컬럼: 청구서발송여부_B0
 - 데이터 타입: int64
 - 고유값 개수: 2
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [1 0]

📌 컬럼: 청구서발송여부_R3M
 - 데이터 타입: int64
 - 고유값 개수: 2
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [1 0]

📌 컬럼: 청구서발송여부_R6M
 - 데이터 타입: int64
 - 고유값 개수: 2
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [1 0]

📌 컬럼: 청구금액_B0
 - 데이터 타입: int64
 - 고유값 개수: 35205
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [12226  5834 21866 16356     0]

📌 컬럼: 청구금액_R3M
 - 데이터 타입: int64
 - 고유값 개수: 76406
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [46588 10530 85931 61518     0]

📌 컬럼: 청구금액_R6M
 - 데이터 타입: int64
 - 고유값 개수: 117133
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [ 88693  16861 165221 127371    155]

📌 컬럼: 포인트_마일리지_건별_B0M
 - 데이터 타입: int64
 - 고유값 개수: 1183
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 1441 1568 1520 1670]

📌 컬럼: 포인트_마일리지_건별_R3M
 - 데이터 타입: int64
 - 고유값 개수: 3774
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 3887 4216 4224 4880]

📌 컬럼: 포인트_포인트_건별_B0M
 - 데이터 타입: int64
 - 고유값 개수: 4833
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [1444    0 2305 1452  603]

📌 컬럼: 포인트_포인트_건별_R3M
 - 데이터 타입: int64
 - 고유값 개수: 14152
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [1827    0 5153 2523  690]

📌 컬럼: 포인트_마일리지_월적립_B0M
 - 데이터 타입: int64
 - 고유값 개수: 405
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 704 614 617 597]

📌 컬럼: 포인트_마일리지_월적립_R3M
 - 데이터 타입: int64
 - 고유값 개수: 1335
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 1867 2390 1699 1823]

📌 컬럼: 포인트_포인트_월적립_B0M
 - 데이터 타입: int64
 - 고유값 개수: 1322
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [    0  4603  4438 18369  5001]

📌 컬럼: 포인트_포인트_월적립_R3M
 - 데이터 타입: int64
 - 고유값 개수: 14276
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 8377 9119 8220 4172]

📌 컬럼: 포인트_적립포인트_R12M
 - 데이터 타입: int64
 - 고유값 개수: 34704
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [ 3460     0 17135  6464  2253]

📌 컬럼: 포인트_적립포인트_R3M
 - 데이터 타입: int64
 - 고유값 개수: 21113
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [1827    0 5153 2523  690]

📌 컬럼: 포인트_이용포인트_R12M
 - 데이터 타입: int64
 - 고유값 개수: 55342
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [4008    0 8312 8815 2342]

📌 컬럼: 포인트_이용포인트_R3M
 - 데이터 타입: int64
 - 고유값 개수: 28616
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [1296    0 2765 2467  622]

📌 컬럼: 포인트_잔여포인트_B0M
 - 데이터 타입: int64
 - 고유값 개수: 206
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 972 924 870 877]

📌 컬럼: 마일_적립포인트_R12M
 - 데이터 타입: int64
 - 고유값 개수: 11333
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [    0 11042 14313  5277 14930]

📌 컬럼: 마일_적립포인트_R3M
 - 데이터 타입: int64
 - 고유값 개수: 4423
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 1867 6277 1699 4216]

📌 컬럼: 마일_이용포인트_R12M
 - 데이터 타입: int64
 - 고유값 개수: 8545
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [    0 17314 18587 12680 17855]

📌 컬럼: 마일_이용포인트_R3M
 - 데이터 타입: int64
 - 고유값 개수: 3118
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [   0 4001 4408 3971 4679]

📌 컬럼: 마일_잔여포인트_B0M
 - 데이터 타입: int64
 - 고유값 개수: 530
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 632 857 551 552]

📌 컬럼: 할인건수_R3M
 - 데이터 타입: object
 - 고유값 개수: 5
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['1회 이상' '10회 이상' '20회 이상' '30회 이상' '40회 이상']

📌 컬럼: 할인금액_R3M
 - 데이터 타입: int64
 - 고유값 개수: 610
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 542 355  99  11]

📌 컬럼: 할인건수_B0M
 - 데이터 타입: object
 - 고유값 개수: 2
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: ['1회 이상' '10회 이상']

📌 컬럼: 할인금액_B0M
 - 데이터 타입: int64
 - 고유값 개수: 300
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 130 109  15 118]

📌 컬럼: 할인금액_청구서_R3M
 - 데이터 타입: int64
 - 고유값 개수: 1083
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 304 518 542 276]

📌 컬럼: 할인금액_청구서_B0M
 - 데이터 타입: int64
 - 고유값 개수: 450
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0 163 173 150  17]

📌 컬럼: 상환개월수_결제일_R6M
 - 데이터 타입: int64
 - 고유값 개수: 7
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [5 6 1 0 4]

📌 컬럼: 상환개월수_결제일_R3M
 - 데이터 타입: int64
 - 고유값 개수: 4
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [3 1 0 2]

📌 컬럼: 선결제건수_R6M
 - 데이터 타입: int64
 - 고유값 개수: 9
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [0 2 6 1 5]

📌 컬럼: 선결제건수_R3M
 - 데이터 타입: int64
 - 고유값 개수: 5
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [0 3 2 1 4]

📌 컬럼: 연체건수_R6M
 - 데이터 타입: int64
 - 고유값 개수: 9
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [1 0 6 3 5]

📌 컬럼: 연체건수_R3M
 - 데이터 타입: int64
 - 고유값 개수: 5
 - 결측치 수: 0
 - 추정 유형: 범주형
 - 예시값: [0 1 3 2 4]

📌 컬럼: 혜택수혜금액_R3M
 - 데이터 타입: int64
 - 고유값 개수: 556
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  3   0 121   2 540]

📌 컬럼: 포인트_마일리지_환산_B0M
 - 데이터 타입: int64
 - 고유값 개수: 382
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0  99 214  74 262]

📌 컬럼: 혜택수혜금액
 - 데이터 타입: int64
 - 고유값 개수: 239
 - 결측치 수: 0
 - 추정 유형: 수치형
 - 예시값: [  0  50   2   1 273]

In [95]:
import pandas as pd

summary = []

for col in all_df.columns:
    series = all_df[col]
    dtype = str(series.dtype)
    unique_vals = series.nunique()
    nulls = series.isnull().sum()
    example_vals = series.dropna().unique()[:5]
    example_str = ', '.join(map(str, example_vals))

    # 범주형 여부
    is_categorical = (series.dtype == 'object') or (unique_vals < 20)

    # 수치형 여부 및 이산/연속 구분
    is_numeric = pd.api.types.is_numeric_dtype(series)
    is_discrete = (
        is_numeric and
        all(series.dropna().apply(lambda x: float(x).is_integer())) and
        unique_vals < 20
    )
    is_continuous = is_numeric and not is_discrete

    # 이상치 계산
    outlier_count = 0
    if is_numeric:
        q1 = series.quantile(0.25)
        q3 = series.quantile(0.75)
        iqr = q3 - q1
        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr
        outlier_count = series[(series < lower) | (series > upper)].count()

    summary.append({
        '컬럼명': col,
        '데이터 타입': dtype,
        '예시값': example_str,
        '범주형 (이산형)': '예' if is_categorical or is_discrete else '아니오',
        '수치형 (연속형)': '예' if is_continuous else '아니오',
        '결측치 수': nulls,
        '이상치 수': outlier_count
    })

summary_df = pd.DataFrame(summary)
summary_df.to_excel('데이터_명세서_04.청구입금정보_201807.xlsx', index=False)

In [103]:
import pandas as pd

outlier_summary = []

for col in all_df.columns:
    if pd.api.types.is_numeric_dtype(all_df[col]):
        series = all_df[col].dropna()
        Q1 = series.quantile(0.25)
        Q3 = series.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = series[(series < lower_bound) | (series > upper_bound)]

        outlier_summary.append({
            '컬럼명': col,
            '전체값 수': len(series),
            '이상치 수': len(outliers),
            '이상치 비율(%)': round(len(outliers) / len(series) * 100, 2),
            '최소값': series.min(),
            '최대값': series.max(),
            '이상치 기준 하한': round(lower_bound, 2),
            '이상치 기준 상한': round(upper_bound, 2)
        })

# 결과를 DataFrame으로 정리
outlier_df = pd.DataFrame(outlier_summary)
outlier_df

,컬럼명,전체값 수,이상치 수,이상치 비율(%),최소값,최대값,이상치 기준 하한,이상치 기준 상한
0,기준년월,500000,0,0.00,201807,201807,201807.00,201807.00
1,대표결제일,500000,0,0.00,1,27,-7.50,44.50
2,청구서발송여부_B0,500000,112384,22.48,0,1,1.00,1.00
3,청구서발송여부_R3M,500000,87928,17.59,0,1,1.00,1.00
4,청구서발송여부_R6M,500000,74484,14.90,0,1,1.00,1.00
5,청구금액_B0,500000,36314,7.26,0,159106,-9701.00,16539.00
6,청구금액_R3M,500000,35029,7.01,0,480147,-30485.00,52547.00
7,청구금액_R6M,500000,34898,6.98,0,929332,-59586.88,104242.12
8,포인트_마일리지_건별_B0M,500000,13591,2.72,0,2436,0.00,0.00
9,포인트_마일리지_건별_R3M,500000,13962,2.79,0,8880,0.00,0.00
10,포인트_포인트_건별_B0M,500000,52650,10.53,-18,5766,0.00,0.00
11,포인트_포인트_건별_R3M,500000,59358,11.87,-136,22416,0.00,0.00
12,포인트_마일리지_월적립_B0M,500000,10938,2.19,0,1029,0.00,0.00
13,포인트_마일리지_월적립_R3M,500000,11891,2.38,0,3472,0.00,0.00
14,포인트_포인트_월적립_B0M,500000,12530,2.51,0,19195,0.00,0.00
15,포인트_포인트_월적립_R3M,500000,44170,8.83,0,37398,0.00,0.00
16,포인트_적립포인트_R12M,500000,110057,22.01,0,282016,0.00,0.00
17,포인트_적립포인트_R3M,500000,91332,18.27,-136,48853,0.00,0.00
18,포인트_이용포인트_R12M,500000,76197,15.24,0,1737161,-3874.50,6457.50
19,포인트_이용포인트_R3M,500000,112127,22.43,0,171540,0.00,0.00
20,포인트_잔여포인트_B0M,500000,493,0.10,0,1078,0.00,0.00
21,마일_적립포인트_R12M,500000,17251,3.45,0,44386,0.00,0.00
22,마일_적립포인트_R3M,500000,25143,5.03,0,12352,0.00,0.00
23,마일_이용포인트_R12M,500000,14280,2.86,0,36671,0.00,0.00
24,마일_이용포인트_R3M,500000,13351,2.67,0,7571,0.00,0.00
25,마일_잔여포인트_B0M,500000,12944,2.59,0,1209,0.00,0.00
26,할인금액_R3M,500000,122800,24.56,0,1263,-40.50,67.50
27,할인금액_B0M,500000,120201,24.04,0,458,0.00,0.00
28,할인금액_청구서_R3M,500000,103641,20.73,0,1825,-157.50,262.50
29,할인금액_청구서_B0M,500000,116776,23.36,0,578,-22.50,37.50
30,상환개월수_결제일_R6M,500000,0,0.00,0,6,-6.50,13.50
31,상환개월수_결제일_R3M,500000,0,0.00,0,3,-2.00,6.00
32,선결제건수_R6M,500000,52780,10.56,0,8,0.00,0.00
33,선결제건수_R3M,500000,39273,7.85,0,4,0.00,0.00
34,연체건수_R6M,500000,96955,19.39,0,8,0.00,0.00
35,연체건수_R3M,500000,66658,13.33,0,4,0.00,0.00
36,혜택수혜금액_R3M,500000,73161,14.63,0,1389,-196.50,327.50
37,포인트_마일리지_환산_B0M,500000,24483,4.90,0,505,0.00,0.00
38,혜택수혜금액,500000,57203,11.44,0,565,-75.00,125.00