In [13]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [15]:
df = pd.read_csv("04.청구정보_컬럼선택.csv")
df

         혜택수혜금액  혜택수혜금액_R3M  청구금액_B0  청구금액_R3M  청구금액_R6M  Segment
0             0           3    12226     46588     88693        3
1             0           0     5834     10530     16861        4
2            50         121    21866     85931    165221        2
3             2           3    16356     61518    127371        3
4             0           0        0         0       155        4
...         ...         ...      ...       ...       ...      ...
2399995       0           0        0         0         0        4
2399996      53         164    14402     37515     99849        3
2399997       0           0     5731     22274     41073        2
2399998       0           0        0         0         0        4
2399999       0           0     3422      9704     19948        4

[2400000 rows x 6 columns]

In [17]:
X = df.drop(columns=['Segment'])

# 3. 상수항 추가 (절편)
X_const = sm.add_constant(X)

# 4. VIF 계산
vif_df = pd.DataFrame()
vif_df['변수'] = X_const.columns
vif_df['VIF'] = [variance_inflation_factor(X_const.values, i) for i in range(X_const.shape[1])]

# 5. 결과 확인
print(vif_df)

           변수        VIF
0       const   1.521265
1      혜택수혜금액  11.847078
2  혜택수혜금액_R3M  11.969779
3     청구금액_B0  11.366719
4    청구금액_R3M  19.684930
5    청구금액_R6M   8.967088