In [1]:
import pandas as pd

# 1. 파일 경로 기본 설정
base_path = r"C:\Users\user\Desktop\빅데이터 분석 부트캠프\파이널프로젝트\test"

# 2. 파일 불러오기
df1 = pd.read_csv(f"{base_path}\\03.승인매출 정보1(test).csv")
df2 = pd.read_csv(f"{base_path}\\3.승인매출2_test.csv")
df3 = pd.read_csv(f"{base_path}\\Test회원정보_요약.csv")
df4 = pd.read_csv(f"{base_path}\\청구잔액정보_병합(test).csv")

In [2]:
for df in [df1, df2, df3, df4]:
    if '기준년월' in df.columns:
        df['기준년월'] = df['기준년월'].astype(str)

# 4. 모든 파일 기준 ['ID', '기준년월'] 병합
merged = pd.merge(df1, df2, on=['ID', '기준년월'], how='outer')
merged = pd.merge(merged, df4, on=['ID', '기준년월'], how='outer')
merged = pd.merge(merged, df3, on=['ID', '기준년월'], how='outer')  # 회원정보 요약도 기준년월 있으면 함께 사용

# 5. 결과 확인
print("✅ 최종 병합 결과 shape:", merged.shape)
print(merged.head())

✅ 최종 병합 결과 shape: (600000, 19)
           ID  _2순위업종_이용금액  최대이용금액_일시불_R12M  납부_기타이용금액  쇼핑_편의점_이용금액  \
0  TEST_00000         2713            21700          0          236
1  TEST_00000         2590            20241          0          236
2  TEST_00000         1853            19575          0          208
3  TEST_00000         1849            24124          0          195
4  TEST_00000         2045            24699          0          168

   _2순위교통업종_이용금액  최대이용금액_CA_R12M  교통_정비이용금액    기준년월  할부금액_무이자_3M_R12M  \
0            486               0          0  201807                 0
1            484               0          0  201808                 0
2            460               0          0  201809                 0
3            465               0          0  201810                 0
4            489               0          0  201811                 0

   이용개월수_온라인_R6M  연속유실적개월수_기본_24M_카드     이용금액대  청구금액_R6M  평잔_일시불_해외_6M  \
0              5                   5  02.50만원+     22151           384
1              5                   5  02.50만원+     21829           377
2              5                   5  02.50만원+     25573           368
3              5                   5  02.50만원+     23978           334
4              5                   5  02.50만원+     24216           374

   잔액_일시불_B2M  평잔_일시불_6M  이용카드수_신용체크  _1순위카드이용건수
0           0       2933           2          51
1        2277       3457           2          42
2        2162       3890           2          37
3        2072       4844           2          34
4        2156       5182           2          31

In [3]:
merged

,ID,_2순위업종_이용금액,최대이용금액_일시불_R12M,납부_기타이용금액,쇼핑_편의점_이용금액,_2순위교통업종_이용금액,최대이용금액_CA_R12M,교통_정비이용금액,기준년월,할부금액_무이자_3M_R12M,이용개월수_온라인_R6M,연속유실적개월수_기본_24M_카드,이용금액대,청구금액_R6M,평잔_일시불_해외_6M,잔액_일시불_B2M,평잔_일시불_6M,이용카드수_신용체크,_1순위카드이용건수
0,TEST_00000,2713,21700,0,236,486,0,0,201807,0,5,5,02.50만원+,22151,384,0,2933,2,51
1,TEST_00000,2590,20241,0,236,484,0,0,201808,0,5,5,02.50만원+,21829,377,2277,3457,2,42
2,TEST_00000,1853,19575,0,208,460,0,0,201809,0,5,5,02.50만원+,25573,368,2162,3890,2,37
3,TEST_00000,1849,24124,0,195,465,0,0,201810,0,5,5,02.50만원+,23978,334,2072,4844,2,34
4,TEST_00000,2045,24699,0,168,489,0,0,201811,0,5,5,02.50만원+,24216,374,2156,5182,2,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,TEST_99999,0,14,29,0,0,0,0,201808,0,0,24,05.10만원-,80,0,42,8,2,1
599996,TEST_99999,0,13,29,0,0,0,0,201809,0,0,24,05.10만원-,75,0,30,8,2,-2
599997,TEST_99999,0,21,33,0,0,0,0,201810,0,0,24,05.10만원-,96,0,34,12,2,4
599998,TEST_99999,0,28,26,0,0,0,0,201811,0,0,24,05.10만원-,93,0,41,8,2,1
599999,TEST_99999,0,21,25,0,0,0,0,201812,0,0,24,05.10만원-,105,0,17,9,2,0

In [12]:
merged.to_csv(f"{base_path}\\test.csv", index=False, encoding='utf-8-sig')

In [5]:
# 1. 리스트 형태로 보기
print(merged.columns.tolist())

['ID', '_2순위업종_이용금액', '최대이용금액_일시불_R12M', '납부_기타이용금액', '쇼핑_편의점_이용금액', '_2순위교통업종_이용금액', '최대이용금액_CA_R12M', '교통_정비이용금액', '기준년월', '할부금액_무이자_3M_R12M', '이용개월수_온라인_R6M', '연속유실적개월수_기본_24M_카드', '이용금액대', '청구금액_R6M', '평잔_일시불_해외_6M', '잔액_일시불_B2M', '평잔_일시불_6M', '이용카드수_신용체크', '_1순위카드이용건수']